/*
		UI modal
	=================
	Handmade Fantasy World 
		  © 2017.

*/

.ui-modal
{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	opacity: 0;
	display: none;
}

.ui-modal-light
{
	background: rgba(255,255,255,0.3);
}

.ui-modal-dark
{
	background: rgba(0,0,0,0.5);
}

.ui-modal-show
{
	animation-name: showModal;
	animation-fill-mode: forwards;
	animation-duration: 0.7s;
	animation-timing-function: cubic-bezier(.7,.41,.28,.93);

	display: block;

	-webkit-animation-name: showModal;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-timing-function: cubic-bezier(.7,.41,.28,.93);
}

.ui-modal-loader-placeholder
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	width: 250px;
	height: 100px;
	text-align: center;
}

.ui-modal-loader
{
	width: 40px;
	height: 40px;
	margin: auto;
	animation-name: spin;
	animation-duration: 0.8s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	-webkit-animation-name: spin;
	-webkit-animation-duration: 0.8s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	border-width: 7px;
	border-style: solid;
	border-radius: 50%;
}

.ui-modal.ui-modal-dark > .ui-modal-loader-placeholder > .ui-modal-loader-text
{
	color: white;
	margin-bottom: 20px;
}

div.ui-modal.ui-modal-dark > .ui-modal-loader-placeholder > .ui-modal-loader
{
	color: white;
	border-top: 7px solid #13909E;
}

.ui-modal.ui-modal-dark > .ui-modal-content
{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	z-index: 10000;
	display: none;
	overflow: hidden;
	padding-bottom: 20px;

	-webkit-box-shadow: -1px 2px 14px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 2px 14px -4px rgba(0,0,0,0.75);
	box-shadow: -1px 2px 14px -4px rgba(0,0,0,0.75);

	background: #FFFFFF;
	border-radius: 3px;
}

.ui-modal-content.ui-modal-content-show
{
	display: block !important;
	opacity: 0;

	animation-name: showModalContent;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;

	-webkit-animation-name: showModalContent;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-delay: 1s;
}

.ui-modal-content.ui-modal-small
{
	width: 30%;
	max-height: 85%;
}

.ui-modal-content.ui-modal-large
{
	width: 90%;
	max-height: 60%;
}

.ui-modal-content .ui-modal-close
{
	position: absolute;
	top: 0;
	right: 0;
	padding: 15px 20px;
}

.ui-modal-content .ui-modal-close i
{
	opacity: 0.6;
	transition: 0.3s;
	cursor: pointer;
}

.ui-modal-content .ui-modal-close:hover i
{
	opacity: 1;
}

.ui-modal-heading
{
	background: #FCFCFC;
	border-bottom: 1px solid #E3E3E3;
	padding: 18px 20px 10px 20px;
}

.ui-modal-body
{
	padding: 10px 15px;
	height: auto;
	overflow-y: scroll;
}

.ui-col
{
	padding: 0;
}

.ui-modal .ui-modal-content .ui-modal-image-placeholder
{
	padding: 5px 10px;
	border: 1px solid #F0F0F0;
	border-radius: 3px;
}

.ui-modal .ui-modal-content .ui-modal-image-description
{
	background: #F5F5F5;
	padding: 8px 15px;
	font-size: 80%;
	text-align: center;
	border: 1px solid #E6E6E6;
}

.ui-modal-footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background: #FCFCFC;
	border-top: 1px solid #E3E3E3;
	padding: 10px 15px;
}

.ui-modal-other-content
{
	position: absolute;
	z-index: 10000;
	top: 10px;
	background: black;
	border-radius: 3px;
	color: white;
	padding: 10px 15px;

	width: 30%;
	max-height: 50%;
	height: auto;
}

.ui-modal-left-content
{
	left: 10px;
}

.ui-modal-right-content
{
	right: 10px;
}

.ui-modal-other-content-close
{
	position: absolute;
	right: 0;
	top: 0;
	padding: 5px 15px;
	opacity: 0.6;
	font-size: 140%;
	transition: 0.3s;
	cursor: pointer;
}

.ui-modal-other-content-close:hover
{
	opacity: 1;
}

.ui-modal-other-content-heading
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 10px 15px;
	-webkit-box-shadow: inset -1px -88px 43px -11px rgba(0,0,0,0.49);
	-moz-box-shadow: inset -1px -88px 43px -11px rgba(0,0,0,0.49);
	box-shadow: inset -1px -88px 43px -11px rgba(0,0,0,0.49);
}

/* Notifications */
.ui-modal-notif
{
	margin: 10px 0;
	padding: 8px 10px;
	border-radius: 3px;
}

.ui-modal-notif-danger
{
	background: #E32B2B;
	color: white;
}

/* /Notifications */

/* Keyframes */
@keyframes showModal
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@-webkit-keyframes showModal
{
	from { opacity: 0; }
	to { opacity: 1; }
}

@keyframes showModalContent
{
	from { transform: translateY(-120px); opacity: 0; }
	to { transform: translateY(0); opacity: 1; }
}

@-webkit-keyframes showModalContent
{
	from { transform: translateY(-120px); opacity: 0; }
	to { transform: translateY(0); opacity: 1; }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media only screen and (min-width: 0) and (max-width: 800px) 
{
	.ui-modal-content.ui-modal-small
	{
		width: 80%;
		max-height: 80%;
	}

	.ui-modal-content.ui-modal-large
	{
		width: 90%;
		max-height: 80%;
	}

	.ui-modal-other-content
	{
		width: 90%;
	}
}

@media only screen and (min-width: 801px) and (max-width: 1000px)  
{
	.ui-modal-content.ui-modal-small
	{
		width: 60%;
		max-height: 80%;
	}

	.ui-modal-content.ui-modal-large
	{
		width: 80%;
		max-height: 80%;
	}

	.ui-modal-other-content
	{
		width: 40%;
	}
}

@media only screen and (min-width: 1001px) and (max-width: 1200px)  
{
	.ui-modal-content.ui-modal-small
	{
		width: 50%;
		max-height: 80%;
	}

	.ui-modal-content.ui-modal-large
	{
		width: 90%;
		max-height: 80%;
	}

	.ui-modal-other-content
	{
		width: 40%;
	}
}