
.price-placeholder .currency
{
	font-size: 160%;
	position: relative;
	top: -5px;
}

.price-placeholder .price-number
{
	font-size: 250%;
	font-weight: bold;
	color: #24AEB5;
}

.price-placeholder .price-dot-number
{
	position: relative;
	font-size: 130%;
	top: -13px;
	
}

.price-row-placeholder
{
	background: rgba(252,252,252,0.6);
	border-radius: 3px;
}

.price-row-placeholder.p-cart
{
	background: transparent;
}

.price-row-placeholder.p-cart .price-placeholder, .price-row-placeholder.p-cart .price-discount-placeholder
{
	background: transparent;
	border: none;
}

.price-row-placeholder.p-cart .price-container.off
{
	opacity: 0.3;
	pointer-events: none;
}

.price-row-placeholder.p-cart .price-full-width-container
{
	background: white;
	border: 1px solid #E3E3E3;
}

.price-row-placeholder.p-cart .price-container.plan
{
	opacity: 1;
	background: white;
	border: 1px solid #DEDEDE;
	border-radius: 4px;
}

.price-row-placeholder.p-cart .price-container .check-button
{
	border-radius: 50%;
	border: 3px solid #4CC912;
	color: #4CC912;
	display: inline-block;
	padding: 3px 5px;
	position: absolute;
	left: 0;
	top: 5px;
	margin: 10px 30px;
	opacity: 0;
}

.price-row-placeholder.p-cart .price-container.plan .check-button
{
	opacity: 1;
}

.price-row-placeholder.p-cart .price-container.off:hover
{
	background: transparent;
}

.price-discount-placeholder
{
	font-size: 90%;
}

.price-discount-placeholder .old-price
{
	text-decoration: line-through;
}

.price-discount-placeholder .discount
{
	background: #FF7070;
	color: white;
	padding: 3px 8px;
	margin: 0 6px;
	border-radius: 3px;
}

.price-container
{
	transition: 0.3s;
	padding: 10px 15px;
}

.price-container.ord
{
	background: transparent;
	border: none;
}

.price-container.ord:hover
{
	background: #FAFAFA;
}

/* WS preview placeholder */
.ws-preview-placeholder
{
	border: 1px solid #EDEDED;
	vertical-align: bottom;
}

.ws-preview-placeholder .ws-preview-image
{
	position: relative;
	overflow: hidden;
}

.ws-preview-placeholder .ws-preview-image img
{
	width: 100%;
	transition: 0.3s;
	text-align: center;
	margin: 0 auto;
}

.ws-preview-placeholder:hover .ws-preview-image img
{
	transform: scale3d(1.1,1.1,1.1);
}

.ws-preview-placeholder .ws-preview-body
{
	background: #FCFCFC;
	padding: 7px 5px 12px 10px;
	border-radius: 3px;
}

.ws-preview-placeholder .ws-preview-name
{
	font-size: 130%;
	font-weight: bold;
	color: #24AEB5;
	transition: 0.3s
}

.ws-preview-placeholder:hover .ws-preview-name
{
	color: #22A4AB;
}

.ws-preview-placeholder .ws-preview-image .ws-preview-video-icon
{
	border-radius: 50%;
	border: 4px solid #FFFFFF;
	padding: 3px 9px 3px 12px;
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 0;
	color: white;
	margin: 15px 20px;
	text-align: center;
}

.ws-preview-placeholder .ws-preview-image .ws-preview-new-notif
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	background: #152982;
	color: #FFFFFF;
	padding: 3px 10px;
	margin: 10px 15px;
	font-weight: bold;
	border-radius: 2px;
}

.ws-preview-placeholder .ws-preview-image .ws-preview-leader
{
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 11;
}

.ws-preview-placeholder .ws-preview-image .ws-preview-leader img
{
	width: 140px;
}

.ws-preview-placeholder .ws-preview-footer
{
	background: white;
	padding: 7px 15px;
	font-size: 80%;
	border-top: 1px solid #F5F5F5;
}

.ws-preview-placeholder .ws-preview-footer .link-order.in-cart
{
	color: #23BA13;
}

.ws-preview-placeholder .ws-preview-leader-text
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 90;
	background: #1BB4BF;
	color: white;
	padding: 5px 10px;
	margin: 10px;
	border-radius: 0 0 7px 0;
	transform: translateY(-100px);
	transition: 0.3s;
}

.ws-preview-placeholder a.ws-leader-ex-link:hover
{
	color: #FFFFFF;
	text-decoration: underline;
}

.ws-preview-placeholder:hover .ws-preview-leader-text
{
	transform: translateY(0);
}

.ws-preview-placeholder .ws-preview-heading-link
{
	color: #24AEB5;
}

.ws-preview-placeholder .ws-preview-heading-link:hover
{
	text-decoration: underline !important;
}

.external-shopping-cart
{
	position: fixed;
	top: 90px;
	right: 0;
	margin: 10px;
	max-width: 13%;
	width: 250px;
	z-index: 997;
	background: #FAFAFA;
	border: 1px solid #F2F2F2;
	padding: 10px 15px;
	transition: 0.3s;
	transform: translateX(250px);
}

.external-shopping-cart.active
{
	transform: translateX(0);
}

.external-shopping-cart .shopping-icon
{
	float: left;
	vertical-align: middle;
	padding-right: 15px;

}

.external-shopping-cart .cart-items-number
{
	background: #24AEB5;
	color: white;
	padding: 2px 8px;
	margin-left: 3px;
	font-weight: bold;
	border-radius: 2px;
	display: inline-block;
}

.external-shopping-cart .loading
{
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px 10px;
	font-size: 80%;
}

.internal-shopping-cart
{
	position: relative;
}

.internal-shopping-cart .cart-items-number
{
	position: absolute;
	top: -20px;
	right: -12px;
	background: #24AEB5;
	color: white;
	padding: 3px 7px;
	font-size: 80%;
	border-radius: 50%;
	font-weight: bold;
}

.internal-shopping-cart i
{
	transition: 0.3s;
}

.internal-shopping-cart:hover i
{
	opacity: 0.8;
}

.internal-shopping-cart a:hover .cart-items-number
{
	color: white !important;
}

.internal-shopping-cart a:hover 
{
	color: inherit !important;
}

.ws-view-price
{
	padding: 4px 20px;
	background: transparent;
	border: 2px solid #30b5b7;
	color: #30b5b7;
	border-radius: 15px;
	display: inline-block;
	font-size: 80%;
}