
div[data-modal-id='heading-icon-select'] .ui-modal-body div
{
	margin: 0;
}

.banner-heading-icon-placeholder
{
	padding: 10px;
	transition: 0.2s;
	cursor: pointer;
	display: inline-block;
}

.banner-heading-icon-placeholder:hover
{
	background: #F5F5F5;
}

.banner-heading-icon-placeholder.selected
{
	background: #A0BA1C;
	color: white;
}

.banner-image-container
{
	overflow: hidden;
	background: transparent !important;
	border: none !important;
	position: relative;
	transition: all 0.2s;
}

.banner-image-container .banner-image-notif
{
	background: #26B5E0;
	color: white;
	border-radius: 15px;
	display: inline-block;
	padding: 5px 12px;
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	width: 60%;
	margin: auto;
	z-index: 100;
	transition: 0.3s;
	font-size: 90%;
	opacity: 0;
	transform: translateY(-80px);
}

.banner-image-container:hover .banner-image-notif
{
	opacity: 1;
	transform: translateY(0);
}

.banner-image-container:hover .banner-image-placeholder
{
	border: 2px solid white;
	border-radius: 3px;
}

.banner-image-container .banner-image-refresh-resize
{
	background: #EBEBEB;
	border: 1px solid #DEDEDE;
	border-radius: 2px;
	padding: 5px;
	cursor: pointer;
	display: inline-block;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 101;
	transition: 0.4s;
	opacity: 0;
	transform: translateX(80px);
}

.banner-image-container:hover .banner-image-refresh-resize
{
	opacity: 1;
	transform: translateX(0);
}

.banner-image-container .banner-image-refresh-resize:active
{
	border: 1px solid #282BF7;
}

.banner-image-container .banner-image-refresh-resize:hover
{
	background: #E0E0E0;
}

.pinned-news-loader
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 200;
	background: rgba(255,255,255,0.9);
	width: 100%;
	height: 100%;
}

.pinned-news-loader > .content
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 50px;
	height: 50px;
	margin: auto;
}