
@font-face { src:url(../fonts/Roboto.ttf); font-family: Roboto;  }

body
{
	font-family: Roboto;
}

.bordered-theme { border: 1px solid #4A8F90; border-radius: 3px; }
.dn { display: none; }
.dn-imp { display: none !important; }
.color-success { color: #31C41D; }
.color-red { color: #FF2424; }
.color-white { color: #FFFFFF; }
.color-white:hover, .color-white:active, .color-white:focus { color: #FFFFFF !important; }
a:hover .color-white { color: #FFFFFF !important; }
.star-color { color: #C2A60A; }
.text-faded { color: #707070; font-size: 90%; }
a.link-white:hover { color: white !important; }
a.color-white:hover { color: white !important; }
.text-large { font-size: 120%; }
.text-larger { font-size: 140%; }
.strong { font-weight: bold; }

.divider
{
	height: 1px;
	width: 95%;
	margin: auto;
	background: #D6D6D6;
	margin-top: 10px;
	margin-bottom: 10px;
}

.has-divider
{
   border-bottom: 1px solid #E3E3E3;
   padding-bottom: 13px;
}

.has-divider.padding-none
{
	padding-bottom: 0;
}

.color-red a { transition: 0.2s; }
.color-red a:hover { color: #FF6E6E; text-decoration: none !important; }
.l-sp-1 { letter-spacing: 1px }
.text-error { color: #F53333; }
.text-error:hover { color: #B31D1D !important; }
.text-success { color: #2AB811; }
.text-warning { color: #E69C15;  }
.strong-hover:hover { font-weight: bold; }
.op-0   { opacity: 0; }
.small { font-size: 90%; }
.smaller { font-size: 80% }
.large { font-size: 180% }
.uppercase { text-transform: uppercase; }
.underline { text-decoration: underline; }
.font-eminenz { font-family: Eminenz; }
.italic { font-style: italic; }

.div-inl > div, .disp-inl-b, a-inl > a {  display: inline-block; }
.fl-right { float: right; }
.fl-left { float: left; }
.relative { position: relative; }
.pointer { cursor: pointer; }
.border-r-shadow-eff { border-right: 1px solid #D1D1D1; }
.border-b-shadow-eff { border-bottom: 1px solid #D1D1D1; }

.image-optimised img { width: 100%; }

.t-loader
{
	background: transparent;
	border-width: 3px;
	border: 2px solid #D1D1D1;
	border-top: 2px solid #5B3EC2;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0 3px;

	animation: spinLoader;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: infinite;

	-webkit-animation: spinLoader;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-fill-mode: forwards;
	-webkit-animation-iteration-count: infinite;
}

.close
{
	position: absolute;
	right: 0;
	top: 0;
	padding: 9px 9px 9px 0;
	z-index: 100;
}

a.t-link
{
	color: #A8A8A8;
	transition: 0.2s;
}

a.t-link:hover, a.t-link:active
{
	color: #5E5E5E;
}

a.t-link:hover span
{
	text-decoration: underline;
}

.content-editable-textarea
{
	border-radius: 4px;
	padding: 8px 12px;
	border: 1px solid #E3E3E3;
	background: #FCFCFC;
}

.content-editable-textarea.disabled
{
	pointer-events: none;
	opacity: 0.8;
}

.content-editable-textarea:empty::before
{
	content: attr(data-placeholder);
	color: #B5B5B5;
}

.content-editable-textarea:empty:focus::before
{
	color: #CCCCCC;
}

.content-editable-textarea:focus
{
	border: 1px solid #FFBABA;
	outline: none;
}

.margin-10 { margin: 10px; }
.margin-20 { margin: 20px; }
.margin-30 { margin: 30px; }
.margin-40 { margin: 40px; }
.margin-50 { margin: 50px; }
.margin-60 { margin: 60px; }
.margin-70 { margin: 70px; }
.margin-80 { margin: 80px; }
.margin-90 { margin: 90px; }

.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }
.padding-40 { padding: 40px; }
.padding-50 { padding: 50px; }
.padding-60 { padding: 60px; }
.padding-70 { padding: 70px; }
.padding-80 { padding: 80px; }
.padding-90 { padding: 90px; }

.margin-t-none { margin-top: 0; }
.margin-t-10 { margin-top: 10px; }
.margin-t-20 { margin-top: 20px; }
.margin-t-30 { margin-top: 30px; }
.margin-t-40 { margin-top: 40px; }
.margin-t-50 { margin-top: 50px; }
.margin-t-60 { margin-top: 60px; }
.margin-t-70 { margin-top: 70px; }
.margin-t-80 { margin-top: 80px; }
.margin-t-90 { margin-top: 90px; }

.margin-r-none { margin-left: 0; }
.margin-l-10 { margin-left: 10px; }
.margin-l-15 { margin-left: 15px; }
.margin-l-20 { margin-left: 20px; }
.margin-l-30 { margin-left: 30px; }
.margin-l-40 { margin-left: 40px; }
.margin-l-50 { margin-left: 50px; }
.margin-l-60 { margin-left: 60px; }
.margin-l-70 { margin-left: 70px; }
.margin-l-80 { margin-left: 80px; }
.margin-l-90 { margin-left: 90px; }

.margin-r-none { margin-right: 0; }
.margin-r-10 { margin-right: 10px; }
.margin-r-15 { margin-right: 15px; }
.margin-r-20 { margin-right: 20px; }
.margin-r-30 { margin-right: 30px; }
.margin-r-40 { margin-right: 40px; }
.margin-r-50 { margin-right: 50px; }
.margin-r-60 { margin-right: 60px; }
.margin-r-70 { margin-right: 70px; }
.margin-r-80 { margin-right: 80px; }
.margin-r-90 { margin-right: 90px; }

.margin-b-none { margin-bottom: 0; }
.margin-b-10 { margin-bottom: 10px; }
.margin-b-20 { margin-bottom: 20px; }
.margin-b-30 { margin-bottom: 30px; }
.margin-b-40 { margin-bottom: 40px; }
.margin-b-50 { margin-bottom: 50px; }
.margin-b-60 { margin-bottom: 60px; }
.margin-b-70 { margin-bottom: 70px; }
.margin-b-80 { margin-bottom: 80px; }
.margin-b-90 { margin-bottom: 90px; }

.padding-t-none { padding-top: 0; }
.padding-t-5  { padding-top: 5px; }
.padding-t-10 { padding-top: 10px; }
.padding-t-20 { padding-top: 20px; }
.padding-t-30 { padding-top: 30px; }
.padding-t-40 { padding-top: 40px; }
.padding-t-50 { padding-top: 50px; }
.padding-t-60 { padding-top: 60px; }
.padding-t-70 { padding-top: 70px; }
.padding-t-80 { padding-top: 80px; }
.padding-t-90 { padding-top: 90px; }

.padding-b-none { padding-bottom: 0; }
.padding-b-10 { padding-bottom: 10px; }
.padding-b-20 { padding-bottom: 20px; }
.padding-b-30 { padding-bottom: 30px; }
.padding-b-40 { padding-bottom: 40px; }
.padding-b-50 { padding-bottom: 50px; }
.padding-b-60 { padding-bottom: 60px; }
.padding-b-70 { padding-bottom: 70px; }
.padding-b-80 { padding-bottom: 80px; }
.padding-b-90 { padding-bottom: 90px; }

.padding-l-none { padding-left: 0; }
.padding-l-5 { padding-left: 5px; }
.padding-l-10 { padding-left: 10px; }
.padding-l-20 { padding-left: 20px; }
.padding-l-30 { padding-left: 30px; }
.padding-l-40 { padding-left: 40px; }
.padding-l-50 { padding-left: 50px; }
.padding-l-60 { padding-left: 60px; }
.padding-l-70 { padding-left: 70px; }
.padding-l-80 { padding-left: 80px; }
.padding-l-90 { padding-left: 90px; }

.padding-r-none { padding-right: 0; }
.padding-r-5 { padding-right: 5px; }
.padding-r-10 { padding-right: 10px; }
.padding-r-20 { padding-right: 20px; }
.padding-r-30 { padding-right: 30px; }
.padding-r-40 { padding-right: 40px; }
.padding-r-50 { padding-right: 50px; }
.padding-r-60 { padding-right: 60px; }
.padding-r-70 { padding-right: 70px; }
.padding-r-80 { padding-right: 80px; }
.padding-r-90 { padding-right: 90px; }

/* Animations */
@keyframes spinLoader
{
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}

@-webkit-keyframes spinLoader
{
	from { transform: rotate(0deg); }
	to   { transform: rotate(360deg); }
}
/* /Animations */

/* max-width 800px, mobile-only styles */
@media only screen and (min-width: 0) and (max-width: 800px) {
	.md-dn { display: none !important }
	.md-db { display: block !important; }
	.md-inlb { display: inline-block !important; }

	.md-text-center { text-align: center !important; }
	.md-text-left   { text-align: left   !important; }
	.md-text-right  { text-align: right  !important; }

	.md-large   { font-size: 120% !important; }
	.md-small   { font-size: 80% !important; }
	.md-smaller { font-size: 60% !important; }

	.margin-md-t-0,
	.margin-md-t-none
				     { margin-top: 0px   !important; }
	.margin-md-t-10  { margin-top: 10px  !important; }
	.margin-md-t-20  { margin-top: 20px  !important; }
	.margin-md-t-30  { margin-top: 30px  !important; }
	.margin-md-t-40  { margin-top: 40px  !important; }
	.margin-md-t-50  { margin-top: 50px  !important; }
	.margin-md-t-60  { margin-top: 60px  !important; }
	.margin-md-t-70  { margin-top: 70px  !important; }
	.margin-md-t-80  { margin-top: 80px  !important; }
	.margin-md-t-90  { margin-top: 90px  !important; }
	.margin-md-t-100 { margin-top: 100px !important; }
	.margin-md-t-110 { margin-top: 110px !important; }
	.margin-md-t-120 { margin-top: 120px !important; }

	.margin-md-b-none  { margin-bottom: 0 !important; }
	.margin-md-b-10 { margin-bottom: 10px !important; }
	.margin-md-b-20 { margin-bottom: 20px !important; }
	.margin-md-b-30 { margin-bottom: 30px !important; }
	.margin-md-b-40 { margin-bottom: 40px !important; }
	.margin-md-b-50 { margin-bottom: 50px !important; }
	.margin-md-b-60 { margin-bottom: 60px !important; }
	.margin-md-b-70 { margin-bottom: 70px !important; }
	.margin-md-b-80 { margin-bottom: 80px !important; }
	.margin-md-b-90 { margin-bottom: 90px !important; }

	.margin-md-l-none  { margin-left: 0 !important; }
	.margin-md-l-10 { margin-left: 10px  !important; }
	.margin-md-l-20 { margin-left: 20px  !important; }
	.margin-md-l-30 { margin-left: 30px  !important; }
	.margin-md-l-40 { margin-left: 40px  !important; }
	.margin-md-l-50 { margin-left: 50px  !important; }
	.margin-md-l-60 { margin-left: 60px  !important; }
	.margin-md-l-70 { margin-left: 70px  !important; }
	.margin-md-l-80 { margin-left: 80px  !important; }
	.margin-md-l-90 { margin-left: 90px  !important; }

	.padding-md-t-none  { padding-top: 0 !important; }
	.padding-md-t-5 { padding-top: 5px !important; }
	.padding-md-t-10 { padding-top: 10px !important; }
	.padding-md-t-20 { padding-top: 20px !important; }
	.padding-md-t-30 { padding-top: 30px !important; }
	.padding-md-t-40 { padding-top: 40px !important; }
	.padding-md-t-50 { padding-top: 50px !important; }
	.padding-md-t-60 { padding-top: 60px !important; }
	.padding-md-t-70 { padding-top: 70px !important; }
	.padding-md-t-80 { padding-top: 80px !important; }
	.padding-md-t-90 { padding-top: 90px !important; }

	.padding-md-b-none  { padding-bottom: 0 !important; }
	.padding-md-b-10 { padding-bottom: 10px  !important; }
	.padding-md-b-20 { padding-bottom: 20px  !important; }
	.padding-md-b-30 { padding-bottom: 30px  !important; }
	.padding-md-b-40 { padding-bottom: 40px  !important; }
	.padding-md-b-50 { padding-bottom: 50px  !important; }
	.padding-md-b-60 { padding-bottom: 60px  !important; }
	.padding-md-b-70 { padding-bottom: 70px  !important; }
	.padding-md-b-80 { padding-bottom: 80px  !important; }
	.padding-md-b-90 { padding-bottom: 90px  !important; }

	.padding-md-l-none  { padding-left: 0 !important; }
	.padding-md-l-5 { padding-left: 5px !important; }
	.padding-md-l-10 { padding-left: 10px  !important; }
	.padding-md-l-20 { padding-left: 20px  !important; }
	.padding-md-l-30 { padding-left: 30px  !important; }
	.padding-md-l-40 { padding-left: 40px  !important; }
	.padding-md-l-50 { padding-left: 50px  !important; }
	.padding-md-l-60 { padding-left: 60px  !important; }
	.padding-md-l-70 { padding-left: 70px  !important; }
	.padding-md-l-80 { padding-left: 80px  !important; }
	.padding-md-l-90 { padding-left: 90px  !important; }

	.padding-md-r-none  { padding-right: 0 !important; }
	.padding-md-r-5 { padding-right: 5px !important; }
	.padding-md-r-10 { padding-right: 10px  !important; }
	.padding-md-r-20 { padding-right: 20px  !important; }
	.padding-md-r-30 { padding-right: 30px  !important; }
	.padding-md-r-40 { padding-right: 40px  !important; }
	.padding-md-r-50 { padding-right: 50px  !important; }
	.padding-md-r-60 { padding-right: 60px  !important; }
	.padding-md-r-70 { padding-right: 70px  !important; }
	.padding-md-r-80 { padding-right: 80px  !important; }
	.padding-md-r-90 { padding-right: 90px  !important; }
}


@media only screen and (min-width: 801px) and (max-width: 1200px)  {
	.md-sm-dn { display: none !important }
	.md-sm-db { display: block !important; }
	.md-inlb { display: inline-block !important; }

	.md-text-center { text-align: center !important; }
	.md-text-left   { text-align: left   !important; }
	.md-text-right  { text-align: right  !important; }

	.md-large   { font-size: 120% !important; }
	.md-small   { font-size: 80% !important; }
	.md-smaller { font-size: 60% !important; }

	.margin-md-t-0,
	.margin-md-t-none
				     { margin-top: 0px   !important; }
	.margin-md-t-10  { margin-top: 10px  !important; }
	.margin-md-t-20  { margin-top: 20px  !important; }
	.margin-md-t-30  { margin-top: 30px  !important; }
	.margin-md-t-40  { margin-top: 40px  !important; }
	.margin-md-t-50  { margin-top: 50px  !important; }
	.margin-md-t-60  { margin-top: 60px  !important; }
	.margin-md-t-70  { margin-top: 70px  !important; }
	.margin-md-t-80  { margin-top: 80px  !important; }
	.margin-md-t-90  { margin-top: 90px  !important; }
	.margin-md-t-100 { margin-top: 100px !important; }
	.margin-md-t-110 { margin-top: 110px !important; }
	.margin-md-t-120 { margin-top: 120px !important; }

	.margin-md-sm-t-0,
	.margin-md-sm-t-none
				     { margin-top: 0px   !important; }
	.margin-md-sm-t-10  { margin-top: 10px  !important; }
	.margin-md-sm-t-20  { margin-top: 20px  !important; }
	.margin-md-sm-t-30  { margin-top: 30px  !important; }
	.margin-md-sm-t-40  { margin-top: 40px  !important; }
	.margin-md-sm-t-50  { margin-top: 50px  !important; }
	.margin-md-sm-t-60  { margin-top: 60px  !important; }
	.margin-md-sm-t-70  { margin-top: 70px  !important; }
	.margin-md-sm-t-80  { margin-top: 80px  !important; }
	.margin-md-sm-t-90  { margin-top: 90px  !important; }
	.margin-md-sm-t-100 { margin-top: 100px !important; }
	.margin-md-sm-t-110 { margin-top: 110px !important; }
	.margin-md-sm-t-120 { margin-top: 120px !important; }

	.margin-md-b-none  { margin-bottom: 0 !important; }
	.margin-md-b-10 { margin-bottom: 10px !important; }
	.margin-md-b-20 { margin-bottom: 20px !important; }
	.margin-md-b-30 { margin-bottom: 30px !important; }
	.margin-md-b-40 { margin-bottom: 40px !important; }
	.margin-md-b-50 { margin-bottom: 50px !important; }
	.margin-md-b-60 { margin-bottom: 60px !important; }
	.margin-md-b-70 { margin-bottom: 70px !important; }
	.margin-md-b-80 { margin-bottom: 80px !important; }
	.margin-md-b-90 { margin-bottom: 90px !important; }

	.margin-md-l-none  { margin-left: 0 !important; }
	.margin-md-l-10 { margin-left: 10px  !important; }
	.margin-md-l-20 { margin-left: 20px  !important; }
	.margin-md-l-30 { margin-left: 30px  !important; }
	.margin-md-l-40 { margin-left: 40px  !important; }
	.margin-md-l-50 { margin-left: 50px  !important; }
	.margin-md-l-60 { margin-left: 60px  !important; }
	.margin-md-l-70 { margin-left: 70px  !important; }
	.margin-md-l-80 { margin-left: 80px  !important; }
	.margin-md-l-90 { margin-left: 90px  !important; }

	.padding-md-t-none  { padding-top: 0 !important; }
	.padding-md-t-5 { padding-top: 5px !important; }
	.padding-md-t-10 { padding-top: 10px !important; }
	.padding-md-t-20 { padding-top: 20px !important; }
	.padding-md-t-30 { padding-top: 30px !important; }
	.padding-md-t-40 { padding-top: 40px !important; }
	.padding-md-t-50 { padding-top: 50px !important; }
	.padding-md-t-60 { padding-top: 60px !important; }
	.padding-md-t-70 { padding-top: 70px !important; }
	.padding-md-t-80 { padding-top: 80px !important; }
	.padding-md-t-90 { padding-top: 90px !important; }

	.padding-md-b-none  { padding-bottom: 0 !important; }
	.padding-md-b-10 { padding-bottom: 10px  !important; }
	.padding-md-b-20 { padding-bottom: 20px  !important; }
	.padding-md-b-30 { padding-bottom: 30px  !important; }
	.padding-md-b-40 { padding-bottom: 40px  !important; }
	.padding-md-b-50 { padding-bottom: 50px  !important; }
	.padding-md-b-60 { padding-bottom: 60px  !important; }
	.padding-md-b-70 { padding-bottom: 70px  !important; }
	.padding-md-b-80 { padding-bottom: 80px  !important; }
	.padding-md-b-90 { padding-bottom: 90px  !important; }

	.padding-md-l-none  { padding-left: 0 !important; }
	.padding-md-l-5 { padding-left: 5px !important; }
	.padding-md-l-10 { padding-left: 10px  !important; }
	.padding-md-l-20 { padding-left: 20px  !important; }
	.padding-md-l-30 { padding-left: 30px  !important; }
	.padding-md-l-40 { padding-left: 40px  !important; }
	.padding-md-l-50 { padding-left: 50px  !important; }
	.padding-md-l-60 { padding-left: 60px  !important; }
	.padding-md-l-70 { padding-left: 70px  !important; }
	.padding-md-l-80 { padding-left: 80px  !important; }
	.padding-md-l-90 { padding-left: 90px  !important; }

	.padding-md-r-none  { padding-right: 0 !important; }
	.padding-md-r-5 { padding-right: 5px !important; }
	.padding-md-r-10 { padding-right: 10px  !important; }
	.padding-md-r-20 { padding-right: 20px  !important; }
	.padding-md-r-30 { padding-right: 30px  !important; }
	.padding-md-r-40 { padding-right: 40px  !important; }
	.padding-md-r-50 { padding-right: 50px  !important; }
	.padding-md-r-60 { padding-right: 60px  !important; }
	.padding-md-r-70 { padding-right: 70px  !important; }
	.padding-md-r-80 { padding-right: 80px  !important; }
	.padding-md-r-90 { padding-right: 90px  !important; }

}

@media only screen and (min-width: 1201px) and (max-width: 1400px)
{
	.heading .text { font-size: 30px; }
}