@font-face { font-family: OpenSans; src: url(../fonts/OpenSans.ttf);  } 
@font-face { font-family: Eminenz; src: url(../fonts/Eminenz.ttf);  } 
@font-face { font-family: Comial; src: url(../fonts/Comial.ttf);  } 

.font-comial { font-family: Comial; font-size: 20px; }
.font-eminenz { font-family: Eminenz; font-size: 20px; }

.date-banner
{
	font-size: 14px;	
}

.profile-image
{
	width: 30px;
	border-radius: 50%;
	margin: 0 3px 0 0;
}

.profile-image-placeholder > a
{
	padding: 5px 10px !important;
}

.pinned-news-1
{
	background: url(http://www.handmadefantasyworld.com/img/banner-1.png);
	background-size: 100% 100%;
	padding: 30px 20px 40px 30px;
	background-repeat: no-repeat;
}

.pinned-news-2
{
	background: url(http://www.handmadefantasyworld.com/img/banner-2.png);
	padding: 30px 20px 60px 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.pinned-news-3
{
	background: url(http://www.handmadefantasyworld.com/img/banner-3.png);
	padding: 30px 20px 40px 30px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */
/*                              Button Styles                                 */
/* -------------------------------------------------------------------------- */

.btn-base
{
	display: inline-block;
	padding: 5px 10px;
	border-radius: 3px;
	transition: 0.2s;
	cursor: pointer;
}

.btn-red-danger
{
	background: #F74040;
	color: white;
}

.btn-red-danger:hover
{
	background: #E34040;
}

.btn-submit
{
	background: #6ED62D;
	color: white;
}

.btn-submit:hover
{
	background: #60BF24;
}

.disabled-pt
{
	pointer-events: none;
	opacity: 0.2;
}

.btn-base.disabled
{
	opacity: 0.6;
}

.btn-base.disabled-pt
{
	opacity: 0.6;
	pointer-events: none;
	cursor: not-allowed !important;
}

.btn-base:active
{
	-webkit-box-shadow: inset -2px 2px 13px -2px rgba(0,0,0,0.31);
	-moz-box-shadow: inset -2px 2px 13px -2px rgba(0,0,0,0.31);
	box-shadow: inset -2px 2px 13px -2px rgba(0,0,0,0.31);
}

.btn-white
{
	background: #FCFCFC;
	border: 1px solid #D6D6D6;
	color: black;
	font-size: 90%;
}

.btn-white:hover
{
	background: #F5F5F5;
}

.btn-upload
{
	position: relative;
	cursor: pointer;
}

.btn-upload input[type='file']
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

/* -------------------------------------------------------------------------- */
/*                             /Button Styles                                 */
/* -------------------------------------------------------------------------- */

.ff i.non-hover{
	display: inline-block;
}

.ff:hover i.non-hover{
	display: none;
}

.ff i.hover{
	display: none;
}

.ff:hover i.hover{
	display: inline-block;
}

.ff span.hover{
	display: none;
}

.ff span.non-hover{
	display: inline-block;
}

.ff:hover span.hover{
	display: inline-block;
}

.ff:hover span.non-hover{
	display: none;
}

/* -------------------------------------------------------------------------- */
/*                             WS Edit Picture                                */
/* -------------------------------------------------------------------------- */

.image-edit
{
	width: 100%; 
	height: 250px; 
	border: 3px	dashed #B0B0B0;
	position: relative;
	cursor: pointer;
}

.image-edit > input
{
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
	position: relative;
	z-index: 200;
}

.image-edit > .content
{
	position: absolute;
	top:0;
	bottom: 0;
	right: 0;
	left: -20px;
	height: 100px;
	margin: auto;
}

.image-edit:hover
{
	transition-duration: 0.2s;
	background-color: #FCFCFC;
}

.text-overlay-placeholder
{
	background: #FAFAFA;
	border-radius: 2px;
	border: 1px solid #E6E6E6;
}

.text-overlay-placeholder .content-placeholder
{
	padding: 10px 20px;
}

.active-image-placeholder
{
	padding: 10px 15px;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	position: relative;
}

.active-image-placeholder img
{
	width: 120px;
}

.active-image-placeholder:hover
{
	background: #FCFCFC;
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}

.active-heading
{
	position: relative;
}

.active-heading-check
{
	position: absolute;
	width: auto;
	height: 10px;
	z-index: 50;
	right: 5px;
	margin: auto;
	bottom: 0;
	top: -5px;
	color: #5AB322;
	cursor: pointer;
	padding: 5px;
}

.upload-placeholder
{
	transition: 0.4s;
}

.uploaded-new-image
{
	background: #FF4040;
	padding: 3px 8px;
	border-radius: 2px;
	color: white;
	font-size: 80%;
	font-weight: bold;
	opacity: 0;
	transition: 0.3s;
	position: relative;
	z-index: 1009;
}

.uploaded-new-image.diss-set
{
	animation-name: showUploadedNotification;
	animation-duration: 0.7s;
	animation-delay: 0.3s;
	animation-fill-mode: forwards;

	-webkit-animation-name: showUploadedNotification;
	-webkit-animation-duration: 0.7s;
	-webkit-animation-delay: 0.3s;
	-webkit-animation-fill-mode: forwards;
}

@keyframes showUploadedNotification
{
	from { transform: scale3d(0.4,0.4,0.4) translateY(15px); opacity: 0; }
	to   { transform: scale3d(1,1,1) translateY(7px); opacity: 1; }
}

@-webkit-keyframes showUploadedNotification
{
	from { transform: scale3d(0.4,0.4,0.4) translateY(15px); opacity: 0; }
	to   { transform: scale3d(1,1,1) translateY(7px); opacity: 1; }
}