.edit-image
{
	width: 100%;
	cursor: pointer;
}

.edit-ws-image-placeholder
{
	position: relative;
	overflow: hidden; 
	width: 150px;
	margin: 20px;
}

/* Zelena strelica */

.edit-ws-image-placeholder .check
{
	position: absolute; 
	color: white;
	bottom: -35px; 
	right: -45px; 
	width: 100px; 
	height: 80px; 
	transform: rotate(-45deg);
	background-color: #6ED62D;
	display: none;
}

.edit-ws-image-placeholder .check .arrow
{
	position: absolute; 
	bottom: 0; 
	left: 0;
	right: 50px;
	top: -10px;
	margin: auto;
	transform: rotate(45deg);
}


/* Crveni X */
.edit-ws-image-placeholder .cancel-placeholder
{
	position: absolute;
	width: 70px;
	top: 0;
	display: inline-block;
}

.edit-ws-image-placeholder .cancel-placeholder .cancel
{
	position: absolute; 
	color: white;
	top: -35px; 
	left: -45px; 
	width: 100px; 
	height: 60px; 
	transform: rotate(-45deg);
	background-color: #F74040;
	opacity: 0.6;
	transition: 0.2s;
}

.edit-ws-image-placeholder .cancel .ex
{
	position: absolute; 
	top: 28px; 
	right: 55px;
	left: -18px;
	bottom: -60px;
	margin: auto;
	transform: rotate(45deg);

}

.edit-ws-image-placeholder .cancel-placeholder .tooltip-placement
{
	position: absolute;
	left: -50px;
	bottom: 0;
	top: 5px;
	width: 80px;
	height: 30px;
	z-index: 1;
	cursor: pointer;
}

/* Hover */
.edit-ws-image-placeholder.is-active .check
{
	display: inline-block;
}

.edit-ws-image-placeholder .inactive{
	display: none;
}
.edit-ws-image-placeholder:hover .inactive{
	display: inline-block;
}

.edit-ws-image-placeholder:hover .cancel-placeholder:hover .cancel{
	opacity: 1;

}

/* Edit-WS Text Counter */
.edit-ws-textCounter {
	border: 1px solid red;
	background-color: #FF8A8A;
}



